<div class="app login">
  <div class="menuUsers">
    <span>Absolute0</span>
    <span class="account">No account? <a href="#">Sign up</a></span>
  </div>
  <div class="background"></div>
  <div class="loginWrapper" v-bind:class="{forgotPassword: forgotPassword}">

    <div class="title">
      <h1>Log in to Absolute0</h1>
      <h2>Log in with your <strong>email address</strong> and <strong>password</strong> below.</h2>
    </div>

    <div class="title passwordTitle">
      <h1>Forgot password?</h1>
      <h2>Enter your <strong>email address</strong> below.</h2>
    </div>

    <%= form_tag '/login' do %>
      <% if flash[:error] %>
        <%= text_field_tag :email, '', placeholder: 'Email', class: 'form__field errorInput' %>
      <% else %>
        <%= text_field_tag :email, '', placeholder: 'Email', class: 'form__field' %>
      <% end %>
      <div class="password_field">
        <% if flash[:error] %>
          <%= password_field_tag :password, '', placeholder: 'Password', class: 'form__field errorInput' %>
        <% else %>
          <%= password_field_tag :password, '', placeholder: 'Password', class: 'form__field' %>
        <% end %>
      </div>
      <div class="submitField">
        <%= submit_tag "Log in", class: 'btn' %>
        <%= submit_tag "Re-send password", class: 'btn resend' %>
      </div>

      <div>
        <span class="forgotPassword loginLink" v-on:click="forgotPassword = !forgotPassword">Forgot password?</span>
        <span class="backToLogin">Back to <span class="loginLink" v-on:click="forgotPassword = !forgotPassword">Login</span></span>
      </div>

    <% end %>

    <!-- <% if flash[:error] %><div class="alert alertDanger"><%= flash[:error] %></div><% end %> -->
  </div>
</div>
