<loader v-if="pageLoading"></loader>
<div>
  <article v-if="currentPage" v-for="page in currentPageData" class="page" v-bind:data-page="page.id" v-bind:class="{isDragStateActive : globalDragState}">
    <h1>{{ page.title }}</h1>

    <draggable v-on:end="onUpdateOfBlockDrag" class="sortable-list">
      <section v-for="block in page.blocks" v-bind:data-block-id="block.id" class="block">
        <draggable v-on:end="onUpdateOfColumnDrag" class="columns-list">
          <section v-for="column in block.columns" class="column" v-bind:data-column-id="column.id" v-bind:class="'column--' + column.size">
            <div v-for="component in column.components" class="component">
              <component v-bind:content="component.content" v-bind:layout="component.layout" inline-template>
                <div>
                  <% componentsList.each do |l| %>
                    <div v-if="layout === '<%= l %>'" v-for="component in content">
                      <%= render 'components/items/admin/' + l %>
                    </div>
                  <% end %>
                </div>
              </component>

            </div>

            <div v-if="column.components.length == 0" class="placeholder">
              Add content.
            </div>

            <%= render 'columns/edit-handle' %>
            <%= render 'components/new-component' %>

            <draggable class="blockDragMarker" :options="{name:'people'}"></draggable>
          </section>
        </draggable>
        <div v-if="block.columns.length == 0" class="placeholder">
          This block is empty, add some columns!
        </div>
        <%= render 'columns/new-column' %>
      </section>


    </draggable>

    <%= render 'blocks/new-block' %>

  </article>
</div>
