<loader v-if="pageLoading"></loader>
<div>
  <article v-if="currentPage" v-for="page in currentPageData" class="page" v-bind:data-page="page.id" v-bind:class="{isDragStateActive : globalDragState}">
    <h1>{{ page.title }}</h1>

    <draggable v-on:end="onUpdateOfBlockDrag" class="sortable-list">
      <section v-for="block in page.blocks" v-bind:data-block-id="block.id" class="block">
        <draggable v-on:end="onUpdateOfColumnDrag" class="columns-list">
          <section v-for="column in block.columns" class="column" v-bind:data-column-id="column.id" v-bind:class="'column--' + column.size">
            <div v-for="component in column.components" class="component">
              <component v-bind:content="component.content" v-bind:layout="component.layout" inline-template>
                <div>
                  <% a = Dir.entries(Rails.root.join("app/views/components/items/admin")) %>
                  <% a -= ['.', '..'] %>
                  <% b = ["_",".html.erb"] %>
                  <% a.each do |p| %>
                    <% b.each {|x| p.slice!(x) } %>
                  <% end %>

                  <% a.each do |l| %>
                    <div v-if="layout === '<%= l %>'" v-for="component in content">
                      <%= render 'components/items/admin/' + l %>
                    </div>
                  <% end %>
                </div>
              </component>
            </div>
            <%= render 'columns/edit-handle' %>
            <%= render 'components/new-component' %>
          </section>
        </draggable>


        <%= render 'columns/new-column' %>

        <div class="blockDragMarker"></div>
      </section>


    </draggable>

    <%= render 'blocks/new-block' %>

  </article>
</div>
