<%= render 'layouts/modal' %>
<%= render 'modal-new' %>

<div class="app app--loading">

  <%= render 'layouts/menu-top' %>

  <%= render 'layouts/menu-left' %>

  <div class="board" v-bind:class="{expand : !menuVisible}">
    <%= render 'pages/page' %>
    <alert v-if="flashMessage" v-bind:content="flashMessage"></alert>
  </div>

  <new-page-modal v-if="showModal === 'newPage'"></new-post-modal>
</div>
