<%= render 'layouts/modal' %>
<%= render 'modal-new-page' %>
<%= render 'modal-new-menu' %>
<%= render 'loader' %>

<div class="app app--loading">

  <%= render 'layouts/menu-top' %>

  <%= render 'layouts/menu-left' %>

  <div class="board theme">
    <div class="boardLogo" v-if="!currentPage">
      <h1>Absolute0</h1>
      <h2>To edit a page, select the page inside the menu on the left.</h2>
    </div>
    <%= render 'pages/page' %>
    <alert v-if="flashMessage" v-bind:content="flashMessage"></alert>
  </div>

  <new-page-modal v-if="showModal === 'newPage'"></new-page-modal>
  <new-menu-modal v-if="showModal === 'newMenu'"></new-menu-modal>
</div>
