<%= render 'layouts/modal' %>
<%= render 'modal-new' %>
<%= render 'loader' %>

<div class="app app--loading">

  <%= render 'layouts/menu-top' %>

  <%= render 'layouts/menu-left' %>

  <div class="board">
    <div class="boardLogo" v-if="!currentPage">
      <h1>Absolute0</h1>
      <h2>To edit a page, select the page inside the menu on the left.</h2>
    </div>
    <%= render 'pages/page' %>
    <alert v-if="flashMessage" v-bind:content="flashMessage"></alert>
  </div>

  <modal v-if="showModal" @close="showModal = false">
    <h3 slot="header">custom header</h3>
  </modal>

  <new-page-modal v-if="showNewPageModal"></new-post-modal>
</div>
