<!DOCTYPE html>
<html>
  <head>
    <title>Absolute0</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'pages/modal-new' %>


    <div class="app app--loading">
      <h1>{{ message }}</h1>

      <ul class="menu">
        <li v-for="page in pages" class="menu__item">
          <a class="menu__link" @click="currentPage = page.id">{{ page.title }}</a>
        </li>
      </ul>

      <button id="show-modal" @click="showModal = true">New Page</button>

      <%= render 'pages/page' %>

      <modal v-if="showModal" @close="showModal = false">
        <h3 slot="header">custom header</h3>
      </modal>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
